<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LunarScheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0D73D7B2D200BC700DB707A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D73D8B2D200BC800DB707A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0D73D952D200BC800DB707A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
